[submodule "ConquestPoints"]
	path = ConquestPoints
	url = git@github.com:furiex-ffxi/ConquestPoints.git
[submodule "DParty"]
	path = DParty
	url = git@github.com:Petewilmer/DParty.git
[submodule "interactbruh"]
	path = interactbruh
	url = git@github.com:eLiidyr/interactbruh.git
[submodule "maga"]
	path = maga
	url = git@github.com:cairthenn/maga.git
[submodule "quetz"]
	path = quetz
	url = git@github.com:furiex-ffxi/quetz.git
