[submodule "ConquestPoints"]
	path = ConquestPoints
	url = git@github.com:furiex-ffxi/ConquestPoints.git
[submodule "DParty"]
	path = DParty
	url = git@github.com:Petewilmer/DParty.git
[submodule "interactbruh"]
	path = interactbruh
	url = git@github.com:eLiidyr/interactbruh.git
[submodule "maga"]
	path = maga
	url = git@github.com:cairthenn/maga.git
[submodule "quetz"]
	path = quetz
	url = git@github.com:furiex-ffxi/quetz.git
[submodule "sheolhelper"]
	path = sheolhelper
	url = git@github.com:MarianArlt/sheolhelper.git
[submodule "Skillchains"]
	path = Skillchains
	url = git@github.com:posimagi/Skillchains.git
[submodule "trust"]
	path = trust
	url = git@github.com:furiex-ffxi/trust.git
[submodule "NyzulBuddy2"]
	path = NyzulBuddy2
	url = git@github.com:Darkdoom22/NyzulBuddy2.git
[submodule "widescantool"]
	path = widescantool
	url = git@github.com:mujihina/widescantool.git
[submodule "superwarp"]
	path = superwarp
	url = git@github.com:furiex-ffxi/superwarp.git
[submodule "GearInfo"]
	path = GearInfo
	url = git@github.com:sebyg666/GearInfo.git
[submodule "TradePlayer"]
	path = TradePlayer
	url = git@github.com:Tny5989/TradePlayer.git
[submodule "Gil"]
	path = Gil
	url = git@github.com:Darkdoom22/Gil.git
[submodule "mappy--Kenshi-Version"]
	path = mappy--Kenshi-Version
	url = git@github.com:KenshiDRK/mappy--Kenshi-Version.git
